<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  {{ style('style') }}
</head>
<body>
  <section>
    
    <div >
      
      <h1 class="title">
        Bienvenidos
      </h1>
      <h3 class="subtitle">
        Elija la opccion que desea acceder !
      </h3><br>
      <input class="button is-success is-rounded" type="button" value="Productos" onclick="location.href='http://127.0.0.1:3333/productos'" />
      <input class="button is-success is-rounded" type="button" value="Proveedores" onclick="location.href='http://127.0.0.1:3333/proveedor'"  />
      <input class="button is-success is-rounded" type="button" value="Marcas" onclick="location.href='http://127.0.0.1:3333/marcas'"  />
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br<br><br><br><br><br>
    </div>
  </section>
</body>
</html>

